{%extends '@Filmotheque/layout.html.twig'%}
{%block title%} {{ "film.ajouter.modifier"|trans }} {% endblock %}
{%block content%}
  {%for message in app.flashes('notice')%}
    <div class="flash-notice">{{message}}</div>
  {%endfor%}

    {{ form_start(formFilm) }}
        <div class='error'>{{ form_errors(formFilm) }}</div>
        <table> <tr>
                <td>{{ form_label(formFilm.titre, 'film.titre') }}</td>
                <td>{{ form_label(formFilm.description, 'film.description') }}</td>
                <td>{{ form_label(formFilm.categorie, 'film.categorie') }}</td>
                <td>{{ form_label(formFilm.acteurs, 'film.acteurs') }}</td>
        </tr><tr>
                <td>{{ form_errors(formFilm.titre) }} {{form_widget(formFilm.titre)}} </td>
                <td>{{ form_errors(formFilm.description) }} {{form_widget(formFilm.description)}} </td>
                <td>{{ form_errors(formFilm.categorie) }} {{form_widget(formFilm.categorie)}} </td>
                <td>{{ form_errors(formFilm.acteurs) }} {{form_widget(formFilm.acteurs)}} </td>

            </tr></table>
            {{form_rest(formFilm)}}

    {{form_end(formFilm)}}

{%endblock%}