<table>
        {% for f in films %}
        <tr>
            <td> {{ f.titre }} </td>
            <td> {{ f.description }} </td>
            <td><a href="{{path('filmotheque_film_detail', {'id': f.id}) }}">{{'voir'|trans}}</a></td>
            <td><a href="{{path('filmotheque_film_modifier', {'id': f.id}) }}">{{'modifier'|trans}}</a></td>
            <td><a href="{{path('filmotheque_film_supprimer', {'id': f.id}) }}">{{'supprimer'|trans}}</a></td>
        </tr>

        {% else %} <tr><td>{{'film.aucun'|trans}}</td></tr>

        {% endfor %}
</table>