{%extends '@Filmotheque/layout.html.twig'%}
{%block title%} {{ "film.liste"|trans }} {% endblock %}
{%block content%}
  {%for message in app.flashes('notice')%}
    <div class="flash-notice">{{message}}</div>
  {%endfor%}

  {{ include('@Filmotheque/Film/liste.html.twig', {'films':films}) }}
 
  <p><a href="{{path('filmotheque_film_ajouter')}}">{{'film.ajouter'|trans }}</a></p>
 

{%endblock%}