{%extends '@Filmotheque/layout.html.twig'%}
{%block title%} {{ film.titre }} {% endblock %}
{%block content%}
  {%for message in app.flashes('notice')%}
    <div class="flash-notice">{{message}}</div>
  {%endfor%}
  <table>
        <tr><td> {{ "film.description"|trans }} : {{ film.description }} </td></tr>
        <tr><td> {{ "film.categorie"|trans }} : {{ film.categorie.nom }} </td></tr>
        <tr><td> {{ "film.acteurs"|trans }} : 
        {% for a in film.acteurs %}
            <li> {{a.nom}} {{a.prenom}} </li>
		
        {% endfor %}
        </td></tr>
    </table>


{%endblock%}