{%extends '@Filmotheque/layout.html.twig'%}
{%block title%} {{ "categorie.ajouter.modifier"|trans }} {% endblock %}
{%block content%}
  {%for message in app.flashes('notice')%}
    <div class="flash-notice">{{message}}</div>
  {%endfor%}
    {{ form_start(formCategorie) }}
        <div class='error'>{{ form_errors(formCategorie) }}</div>
        <table> <tr>
                <td>{{ form_label(formCategorie.nom, 'categorie.nom') }}</td>
        </tr><tr>
                <td>{{ form_errors(formCategorie.nom) }} {{form_widget(formCategorie.nom)}} </td>

            </tr></table>
            {{form_rest(formCategorie)}}

    {{form_end(formCategorie)}}
{%endblock%}