{%extends '@Filmotheque/layout.html.twig'%}
{%block title%} {{ "categorie.liste"|trans }} {% endblock %}
{%block content%}
  {%for message in app.flashes('notice')%}
    <div class="flash-notice">{{message}}</div>
  {%endfor%}

  {{ include('@Filmotheque/Categorie/liste.html.twig', {'categories':categories}) }}
 
  <p><a href="{{path('filmotheque_categorie_ajouter')}}">{{ 'categorie.ajouter'|trans }}</a></p>
 

{%endblock%}