<table>
        {% for c in categories %}
        <tr>
            <td> {{ c.nom }} </td>
            <td><a href="{{path('filmotheque_categorie_modifier', {'id': c.id}) }}">{{'modifier'|trans}}</a></td>
            <td><a href="{{path('filmotheque_categorie_supprimer', {'id': c.id}) }}">{{'supprimer'|trans}}</a></td>
        </tr>

        {% else %} <tr><td>{{'categorie.aucun'|trans}}</td></tr>

        {% endfor %}
</table>