{%extends '@Filmotheque/layout.html.twig'%}
{%block title%} {{ "acteur.ajouter.modifier" | trans }} {% endblock %}
{%block content%}
    {{ form_start(formActeur) }}
        <div class='error'>{{ form_errors(formActeur) }}</div>
        <table> <tr>
                <td>{{ form_label(formActeur.nom, 'acteur.nom') }}</td>
                <td>{{ form_label(formActeur.prenom, 'acteur.prenom') }}</td>
                <td>{{ form_label(formActeur.dateNaissance, 'acteur.dateNaissance') }}</td>
                <td>{{ form_label(formActeur.sexe, 'acteur.sexe') }}</td>
        </tr><tr>
                <td>{{ form_errors(formActeur.nom) }} {{form_widget(formActeur.nom)}} </td>
                <td>{{ form_errors(formActeur.prenom) }} {{form_widget(formActeur.prenom)}} </td>
                <td>{{ form_errors(formActeur.dateNaissance) }} {{form_widget(formActeur.dateNaissance)}} </td>
                <td>{{ form_errors(formActeur.sexe) }} {{form_widget(formActeur.sexe)}} </td>

            </tr></table>
            {{form_rest(formActeur)}}

    {{form_end(formActeur)}}

  {%for message in app.flashes('notice')%}
    <div class="flash-notice">{{message}}</div>
  {%endfor%}

{%endblock%}