<table>
        {%for a in acteurs%}

        <tr>
              <td>{{a.nom}}</td> <td>{{a.prenom}}</td>
              <td>{{a.dateNaissance|date('d/m/y')}}</td> <td>{{a.sexe}}</td>
              <td><a href="{{path('filmotheque_acteur_modifier',{'id':a.id})}}">{{'modifier'| trans }}</a></td>
              <td><a href="{{path('filmotheque_acteur_supprimer',{'id':a.id})}}">{{'supprimer'| trans }}</a></td>

        </tr>
 
        {%else%}
           <tr><td>{{'acteur.aucun'|trans}}</td></tr>
        {%endfor%}
</table>
