<html>
<head>
    <title>{% block title %}{{ 'titre'|trans }}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{ asset('bundles/filmotheque/css/main.css') }}" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <div id="page">
        <div id="header">
            <img src="{{ asset('bundles/filmotheque/images/logo.png') }}" alt="Filmotheque" width="128" height="128" />
            <ul id="menu">
                <li><a href="{{ path('filmotheque_homepage') }}">{{ 'menu.accueil'|trans }}</a></li>
                <li><a href="{{ path('filmotheque_categorie_lister') }}">{{ 'menu.categories'|trans }}</a></li>
                <li><a href="{{ path('filmotheque_film_lister') }}">{{ 'menu.films'|trans }}</a></li>
                <li><a href="{{ path('filmotheque_acteur_lister') }}">{{ 'menu.acteurs'|trans }}</a></li>
            </ul>
        </div>
    <div id="content">
        <h1>{{ block('title') }}</h1>
        {% block content %}
        {% endblock %}
    </div>
    <div id="footer">
        <p>{{ 'copyright'|trans }}</p>
    </div>
    </div>
</body>
</html>