{%extends '@Filmotheque/layout.html.twig'%}
{%block title%} {{film.titre}} {% endblock %}
{%block content%}
  {%for message in app.flashes('notice')%}
    <div class="flash-notice">{{message}}</div>
  {%endfor%}
  
         <tr>
              <td>Description: {{film.description}}</td>
              <td>Categorie: {{film.categorie_id}}</td>
              <td>les acteurs participants:</td>
               
            
              
        </tr>   
  
  
  
  
  {%endblock%}
