{%extends '@Filmotheque/layout.html.twig'%}
{% block content %}

<h3>Top des acteurs les plus jeunes</h3>
{{ render(controller('FilmothequeBundle:Acteur:top', {'max':3})) }}

<h3>Top alphabetiques des films</h3>
{{ render(controller('FilmothequeBundle:Film:top', {'max':3})) }}

{% endblock %}